html, body {
}
a {
    color: #f4f6fa;
    text-decoration: none;
}
ul {
    list-style: none;
}
ul.main-menu {
    width: 240px;
    float: left;
    padding: 0;
    background: #2d3239;
    box-shadow: 0 0 20px 0 #000101;
    border-radius: 5px;
    box-sizing: border-box;
}
ul.main-menu li a {
    display: block;
    padding: 10px 10px 10px 40px;
	font-family: Verdana;
	font-size: 16px;
	font-style: normal;
    font-weight: 400;
    color: #f4f6fa;
    text-shadow: 0.5px 0.866px 1px rgb(0, 1, 1 );
}
ul.main-menu > li > a {
    box-shadow: inset 0 1px 0px 0px #000;
    background-image: linear-gradient(#4d505a, #3a3d47);
}
ul.main-menu > li > a:hover, ul.main-menu > li > a:active {
    background-image: linear-gradient(#95a52c, #58641c);
}
ul.main-menu > li:first-child > a {
    border-radius: 5px 5px 0 0;
}
ul.main-menu > li:last-child > a {
    border-radius: 0 0 5px 5px;
}
ul.main-menu li.dropdown ul {
    background: #2d3239;
}
ul.main-menu li.dropdown ul li a {
    padding: 5px 20px 5px 20px;
    font-size: 14px;
    color: #b0ce13;
}
ul.main-menu > li.dropdown > ul > li > a {
    background: url('arrow.png') no-repeat 5px 50%;
}
ul.main-menu > li.dropdown > ul > li:active > a {
    background: url('arrow.png') no-repeat 5px 50%;
}
ul.main-menu li.dropdown ul li.dropdown ul li a{
    padding-left: 0;
    color: #708409;
}
ul.main-menu li.dropdown ul li.dropdown ul li a:hover, ul.main-menu li.dropdown ul li.dropdown ul li a:active {
    color: #cfd0d1;
}
li.dropdown ul {
    display: none;
}
li.dropdown.open ul {
    display: block;
}